strong {
  color: #01d28e;
}
#form-service-select, #form-passengers-select, #form-location-select {
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: #343a40 !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important
}
.service-item img{
  transition: all, 0.4s;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}
.service-item img:hover {
  -webkit-mask-image: radial-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.1));
  transform: scale(1.05);
}
.service-item-left {
  background-color: rgb(24, 24, 24);
}
.service-item-right {
  background-color: rgb(22, 20, 20);
}

.service-item h2 {
  color: rgb(235, 232, 232);
}

.service-item button {
  color: rgb(235, 232, 232);
  border: 1px solid rgb(218, 215, 215);
}

.service-item button:hover {
  color: rgb(44, 43, 43);
  border: 1px solid rgb(18, 18, 18);
  background-color: white;
}

.services-section
.blog{
  position: relative;
  width: 100%;
  height: 15em;
  padding: 1em;
  background-size:cover;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.5);
  margin: auto;
  overflow: hidden;
  max-width: 100%;
}

.blog .title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  transition: all, 1s;
}
.blog .title-box h1 {
  color: rgb(197, 194, 194);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all, 0.4s;
}

.blog:hover .title-box {
  display: flex;
  align-items:end;
  justify-content: center;
}
.blog:hover .title-box h1 {
    font-size: 1.7em;
    display: flex;
    align-items: flex-end;
    color: white;
    text-shadow: 5px 5px 7px black;
}

.blog {
  transition: all, 0.4s;
}


.blog-1:hover, .blog-2:hover, .blog-3:hover, .blog-4:hover {
  transform: scale(1.05);
  
}
/* .blog-1 {
  background: url('../images/air.jpg') no-repeat;
}
.blog-2 {
  background: url('../images/corporate.jpg') no-repeat;
}
.blog-3 {
  background: url('../images/local.jpg') no-repeat;
}
.blog-4 {
  background: url('../images/milestone.jpg') no-repeat;
} */
.services-section
.blog *{
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.services-section
.blog .color-overlay{
  background:rgba(0, 0, 0, 0.7);
}
.blog:hover .color-overlay{
  background:rgba(0, 0, 0, 0.2);
}
.services-section
.blog:hover .info{
  bottom: -3em;
  opacity: 1;
}
.services-section
.blog, .color-overlay{
   border-radius: 0.7em;
}
.services-section
.color-overlay{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.7s all;
  z-index: 1;
}

.services-section
.title-box hr{
  margin-top: -0.4em;
  margin-bottom: 1em;
  width: 5em;
  height: 0.25em;
  box-sizing: content-box;
  border: none;
  background: #D0BC57;
}
.services-section
h3{
   display: inline-block;
   font-weight: 500;
   letter-spacing: 2px;
   font-size: 1.4em;
   
   text-align: center;
}
.services-section
.intro{
    width: 170px;
  margin: 0 auto;
  color: #949494;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.services-section
.info{
  font-family: 'Droid Serif', serif;
  font-size: 1.2em;
  color: #eae5e5;
  line-height: 1.1em;
  padding: 0;
 
  position: relative;
  bottom: -4em;
  opacity: 0;
  background: transparent;
  transition: opacity 0.3s, bottom 0.3s;
  text-align: center;
}

.services-section
.footer{
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10em;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9));
  border-radius:  0 0 0.7em 0.7em;
}
.services-section
.footer > .icon-holder{
  position: absolute;
  bottom: 0;
  height: 3em;
  width: 100%;
  display: inline-block;
  font-size: 1.2em;
  padding: 0 2em;
  
}

.icon-holder i{
  
  color: #D0BC57;
}

.icon-holder span, h3{
  color: #ffffff;
}

space{
  display: inline-block;
  width: 0.6em;
  height: 1em;
}

.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}